{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Seja bem vindo ao sistema de gestão de usuários dos eventos Gago Beer!</h1>

    <ul>
    <li><a href="/login">Se autentique para poder interagir com o sistema.</a></li>
    <li><a href="/register">Registre um novo usário</a></li>
    <li><a href ="http://127.0.0.1:5000/auth/average/guy/88745"> Caso deseje testar se um usário está na lista, faça a requisição abaixo usando o metodo Get:</a></li>
    <p>http://127.0.0.1:5000/auth/average/guy/88745</p>
    <li><p>average = primeiro nome (sem pontuação)</p></li>
    <li><p>guy = sobrenome nome (sem pontuação)</p></li>
    <li><p>88745 = últimos 5 dígitos do CPF</p></li>
    </ul>
{% endblock %}