{% extends 'base.html' %}

{% block title %}Registration Form{% endblock %}

{% block content %}
    <form method="POST">
    {{ form.csrf_token }}
    <p>
        {{ form.firstname.label }}{{ form.firstname(size=20) }}
    </p>
    <p>
        {{ form.lastname.label }}{{ form.lastname(size=20) }}
    </p>
    <p>
       {{ form.last5cpf.label }}{{ form.last5cpf(size=20) }}
   </p>
   <p>
    {{ form.email.label }}{{ form.email(size=20) }}
    </p>
    <input type="submit" value="Register">

    {% if error%}
    <p><strong>{{error}}</strong></p>
    {% endif%}

    </form>
{% endblock %}